<!DOCTYPE html>
<html>
<head>
  <title>TwitterOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <div class="header">
    <%= image_tag 'ix.png' %>
  </div>

  <%= yield %>

  <div class="footer">
    <%=link_to 'Home', "http://iexperience.co.za" %>
    | <%=mail_to "aaron@iexperience.co.za", "Contact" %>
    | <%=link_to 'About', 'http://iexperience.co.za/#row2' %>
  </div>

</div>

</body>
</html>
